body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url('../img/background.jpg') fixed;
}

		.heading{
			min-height: 100vh;
			background-color: #000;
		}
		.heading h1{
			font-size: 120px;
			color: #fff;
		}

		h3{
			color: #fff;
		}
		.heading:first-child{
			background: url(photo-first.jpg);
			background-size: cover;
		}
		.heading:last-child{
			background: url(photo-last.jpg);
			background-size: cover;
		}
		section{
			height: auto;
			display: flex;
			margin: 20px;
			margin-bottom: 80px; 
			border-radius: 40px;
		}
		section:hover{
			border: 6px solid rgba(255, 0, 0, 0.1);
		}
		section img{
			padding: 20px;
			position: sticky;
			top: 0;
			width: 1200px;
			border-radius: 40px;
		}
		section .storyBx{
			padding: 60px;
		}
		section .storyBx h2{
			margin: 0 0 20px;
			padding: 0;
			font-size: 60px;
		}
		section .storyBx p{
			margin: 0 ;
			padding: 0;
			font-size: 1.8em;
			text-align: justify;
		}
		#d1{
			background-image: linear-gradient(97deg,#3498db,#8e44ad);
		}
		#d2{
			background-image: linear-gradient(97deg,#8e44ad,#e67e22);
		}
		#d3{
			background-image: linear-gradient(97deg,#7f8c8d,#f1c40f);
		}
		#d4{
			background-image: linear-gradient(97deg,#3498db,#9b59b6);
		}
		h2{
			color: #2c3e50;
		}